{% block footer %}
    <footer class="text-center">
        <div class="text-center p-3">
            Réalisé par Jason en Anthestérion de l'an 515 avant JC
        </div>
    </footer>
{% endblock %}